<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>blog</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <header>
    	<h1><%=title%></h1>
    </header>
    <nav>
    	<span><a href="/" title="主页">home</a></span>
        <span><a href="/archive" title="存档">archive</a></span>
        <% if (user) { %>
        <span><a href="/post" title="登录">post</a></span>
        <span><a href="/logout" title="注册">logout</a></span>
        <%} else { %>
    	<span><a href="/login" title="登录">login</a></span>
    	<span><a href="/reg" title="注册">register</a></span>
        <% } %>
    </nav>
    <article>
    	
